h1 {
    text-align: center;
    color: var(--popcorn);
    margin-top: 150px;
}

#dedicated {
    text-align: center;
    font-size: 25px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#team_table {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    table-layout: fixed;
}

#team_table tr td div {
    overflow-y: scroll;
    height: 650px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

#team_table i {
    font-size: 65px;
    text-align: center;
    margin-top: -100px;
    color: var(--popcorn);
    transition: 0.3s;
}

#team_table i:hover {
    color: var(--popcorn2);
}

#team_table tr {
    max-height: 100px;
}

#team_table td img {
    height: 580px;
    width: 100%;
    margin-bottom: -100px;
}

#team_table p {
    margin: 100px auto 0 auto;
    width: 90%;
}

#team_table h2 {
    margin: 0;
    padding: 10px 0;
    color: white;
    background-color: var(--popcorn);
}

@media screen and (max-width: 1100px) {
        #team_table td {
                display: block;
        }
        #dedicated {
                font-size:25px;
                width: 70%;
        }
        #team_table tr td div{
                overflow-y: none;
                overflow: visible;
                height: auto;
                padding-bottom: 50px;
        }
        #team_table i {
                display: none;
        }

}

