@media screen and (max-width: 1100px) {
    .media {
        display: none;
    }

    .text {
        font-size: 20px;
    }

    .text p {
        font-size: 15px;
        padding-bottom: 15px;
    }

    .popcorn_transform {
        margin-bottom: 10px;
    }
}
